
<section class="text-primary">
  <svg width="100%" height="100%" viewBox="0 0 1440 162" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,0,-438)">
        <g transform="matrix(3.82702e-17,-0.625,1.59934,9.7931e-17,4.13038e-15,900)">
            <path d="M692.333,0C723.562,53.018 744.493,120.467 737.979,203.758C732.482,282.275 687.772,358.508 640.864,439.308C574.898,551.373 504.535,673.003 504.535,832.177C504.817,854.924 506.42,877.66 509.375,900.374L480,900.374L480,-0L692.333,0Z"/>
        </g>
    </g>
</svg>
</section>

  <section class="bg-primary bg-nr bg-contain bg-p-b" style="background-image: url(/img/4rivers-bg-lines.svg);">
    <div class="container">
      <div class="row text-center mb-4">
        <div class="col-lg-12 text-white">
          <h2 class="font-alt font-weight-bold">
            Feedback ipsum dolor sit
          </h2>
          <p class="lead">
            Dolor sit, amet consectetur adipisicing elit. Sit beatae optio iste repellat aut sapiente.
          </p>
        </div>
      </div>
      <div class="row">
  
        <div class="col-12 mb-7">
          <div class="card-columns">
            {% for item in (1..7) %}
            <div class="card shadow-sm p-3 mb-4">
              <blockquote class="blockquote mb-0 card-body">
                {% if forloop.index == 1  %}
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis a dolorum, voluptatibus ratione neque quos perferendis adipisci incidunt repellendus eveniet!</p>
                {% elsif forloop.index == 1  %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                {% elsif forloop.index == 2  %}
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis a dolorum, voluptatibus ratione neque quos perferendis adipisci incidunt repellendus eveniet!</p>
                {% elsif forloop.index == 3  %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                {% elsif forloop.index == 4  %}
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis a dolorum, voluptatibus ratione neque quos perferendis adipisci incidunt repellendus eveniet!</p>
                {% elsif forloop.index == 5  %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                {% elsif forloop.index == 6  %}
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis a dolorum, voluptatibus ratione neque quos perferendis adipisci incidunt repellendus eveniet!</p>
                {% else %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                {% endif %}
               
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            {% endfor %}
            
          </div>
        </div>
  
      </div>
    </div>
  </section>
  

 
  <section class="text-primary ">
    <svg width="100%" height="100%" viewBox="0 0 1440 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
      <g transform="matrix(1,0,0,1,0,-380)">
        <g transform="matrix(3.82702e-17,-0.625,1.59934,9.7931e-17,4.13038e-15,900)">
          <path d="M775.456,0L832,0L832,900.374L591.325,900.374C567.235,709.85 647.328,572 718.922,446.732C767.297,364.218 812.373,286.558 818.603,205.186C824.723,122.278 805.597,54.373 775.456,0Z"></path>
        </g>
      </g>
    </svg>
  </section> 
