<footer>
  <div class="pt-8 pb-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-auto">
          <img src="img/4Rivers_Logo.svg" alt="4 Rivers GmbH Logo" width="128" height="48">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold h5">Contact</p>
          <p class="mb-0 font-weight-bold">Lorem ipsum dolor sit amet consectetur.</p>
          <p class="mb-0">{{ site.name}}</p>
          <p class="mb-0">{{ site.owner_name}}</p>
          {% for line in site.address.[page.lang] %}
          <p class="mb-0">{{ line }}</p>
          {% endfor %}
          <p class="mb-0">{{ site.email }}</p>
          <p class="">{{ site.telephone }}</p>
        </div>
        <div class="col-md-3 offset-md-1">
          <p class="font-weight-bold h5">
            Legal
          </p>
          <ul class="list-unstyled">
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Imprint</a></li>
            <li><a href="#">Imprint</a></li>
          </ul>
        </div>
        <div class="col-md-3 offset-md-1">
          
        </div>
      </div>
      <hr class="mt-4 border-primary mb-4">
      <div class="row justify-content-between">
          <div class="col-lg-4">
            <span class="text-muted small ml-2">©20{{ site.time | date: '%y' }} {{ site.copyright_text.[page.lang]}}</span>
          </div>
          <div class="col-lg-2 d-flex justify-content-between col-6 mt-3 mt-md-0">
            {% for item in site.data.social-items %}
            <a href="{{ item.url }}" class="social-link">
              <img src="{{ item.icon | relative_url }}" alt="{{ item.name }}" width="16" height="16">
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</footer>
