<section class=" overflow-hidden pt-4 pt-lg-7 white bg-primarylight">
  <div class="container">
    <div class="row d-flex justify-content-center py-6">
      <div class="col-lg-6 text-center align-self-center">
        
        <h1 class="display-4 text-primary mb-3 mt-5 mt-lg-0 font-weight-bold font-alt">
          {{ site.data.[page.lang].hero-banner.heading }}
        </h1>
        <p class="lead">
          {{ site.data.[page.lang].hero-banner.sub_heading }}
        </p>
        <p class="">
          <a href="{{ site.data.[page.lang].hero-banner.btn_link }}" class="btn btn-outline-primary btn-lg">{{ site.data.[page.lang].hero-banner.btn_text }}</a>
        </p>
        
      </div>
    </div>
  </div>
</section>

<section class="text-primarylight">
  <svg width="100%" height="100%" viewBox="0 0 1440 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,0,-380)">
      <g transform="matrix(3.82702e-17,-0.625,1.59934,9.7931e-17,4.13038e-15,900)">
          <path d="M775.456,0L832,0L832,900.374L591.325,900.374C567.235,709.85 647.328,572 718.922,446.732C767.297,364.218 812.373,286.558 818.603,205.186C824.723,122.278 805.597,54.373 775.456,0Z"/>
      </g>
    </g>
  </svg>
</section>
