<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/img/4Rivers_Logo.svg" width="160" height="48" class="d-inline-block align-top logo" alt="4 Rivers GmbH" loading="lazy">
    </a>
    <ul class="navbar-nav mr-0 justify-content-md-between main-nav flex-row">
      <li class="nav-item">
        <a class="px-2 py-1 nav-link {% if page.lang == 'en' %}bg-primary text-white{% else %} text-primary {% endif %} rounded-lg" href="/en">en</a>
      </li>
      <li class="nav-item">
        <a class="px-2 py-1 nav-link {% if page.lang == 'de' %}bg-primary text-white{% else %} text-primary{% endif %} rounded-lg" href="/">de</a>
      </li> 
    </ul>
  </div>
</nav>