{% comment %}

<nav class="navbar navbar-expand-lg navbar-light justify-content-md-between fixed-top">
  <div class="container">


 
    <div class="collapse navbar-collapse flex-grow-0 order-2 order-lg-1" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-md-between main-nav">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.href }}">{{ item.title}}</a>
        </li>
        {% endfor %}
        <button class="btn btn-dark my-2 my-sm-0 d-sm-none" type="submit">Contact us</button>
      </ul>
    </div>

    <div class="flex-grow-1 order-1 order-lg-2">
      <div class="d-flex justify-content-lg-center justify-content-between">
        <a class="navbar-brand text-primary font-weight-bold m-0" href="#">4Rivers</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>  
    </div> 
    
    <div class="navbar-nav d-none d-lg-block main-nav text-md-right order-3">
      <a class="btn btn-dark btn-sm my-2 my-sm-0  btn-mw-sm" href="#">Contact us</a>
    </div>
 
    <!-- Image and text -->

  </div>
</nav>
{% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/img//4Rivers_Logo.svg" width="160" height="48" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
  </div>
</nav>