<section class="text-light">
  <svg width="100%" height="100%" viewBox="0 0 1440 234" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,0,-666)">
        <g transform="matrix(3.82702e-17,-0.625,1.59934,9.7931e-17,4.13038e-15,900)">
            <path d="M373.481,900.374L0,900.374L0,0L80.143,0C68.843,22.178 57.017,46.498 45.702,72.707C29.171,110.437 20.713,148.637 20.415,186.913C20.415,297.693 91.511,394.768 171.403,502.836C201.087,543.236 232.237,585.207 260.822,630.175L283.177,666.578C328.799,743.531 358.981,821.697 373.481,900.374Z" />
        </g>
    </g>
  </svg>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-4">
        <div class="bg-primary shadow-lg rounded-lg d-flex h-100 p-4">
          <h2 class="text-white display-4 align-self-center font-alt">
            Lorem ipsum dolor sit
          </h2>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="p-4">
          <div class="badge badge-primary text-uppercase px-2 py-1" >
            Lorem ipsum dolor sit amet consectetur
          </div>
          <h3 class="mt-4 font-weight-bold font-alt">Lorem, ipsum dolor</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus in fuga perferendis blanditiis nobis quo ex quaerat.</p>
          <h3 class="mt-4 font-weight-bold font-alt">Perspiciatis dignissimos soluta eveniet</h3>
          <p>
            In atque perspiciatis dignissimos soluta eveniet, laboriosam voluptas deleniti, asperiores sint suscipit quo? Enim, asperiores ex. Nesciunt sequi hic exercitationem ut aut, nulla magnam, fugiat dolorem, aspernatur fugit iure eaque! Expedita quia iure accusantium magni.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-light">
  <svg width="100%" height="100%" viewBox="0 0 1440 231" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,0,-603)">
        <g transform="matrix(3.82702e-17,-0.625,1.59934,9.7931e-17,4.13038e-15,900)">
            <path d="M168.508,0L475.2,0L475.2,900.374L460.816,900.374C443.989,807.947 405.905,716.233 346.944,626.321C339.614,614.186 331.552,602.195 323.489,590.631C301.134,556.941 277.313,525.106 254.592,493.985C151.613,354.225 62.926,233.309 131.09,78.846C143.572,50.214 156.199,23.967 168.508,0Z"/>
        </g>
    </g>
  </svg>
</section>