<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0047BB"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <style>
      {% include css/main.css %}
    </style>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="img/logo/4rivers_logo_circle@3x.png">
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
    {% comment %}
    <script src="/js/dist/app.bundle.js"></script>
    {% endcomment %}
    <script src="/js/dist/main.bundle.js"></script>
  </body>
</html>
