/* Global */

body,
html {
  height: 100%;
}

body {
  line-height: 1.6;
  padding-top: 64px;
  
  @include media-breakpoint-up(lg) { 
    padding-top: 74px;
  }
}

svg {
  fill: currentColor;
}

.is-overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}